/logs/
node_modules/
botium-coach/
!botium-coach/**
*.zip
reports/
botium-box/


# Environment files
.env
.env.*

# VSCode
.vscode/

# Key and certificate files
*.key
*.pem
*.crt
*.p12
*.pfx
*.jks

# Output and temp files
Results/
coverage/
*.db
*.sqlite
*.bak
*.tmp
*.swp

# Editor folders
.cursor/

# Ignore temp bare repo
/temp_bare_repo/

